*{

margin:0;

padding:0;

box-sizing:border-box;

}



body{

font-family:Inter,Arial,sans-serif;

background:#0F172A;

color:#F8FAFC;

max-width:1100px;

margin:auto;

padding:20px;

line-height:1.6;

}



header{

text-align:center;

padding:80px 0;

}



h1{

font-size:3rem;

}



.subtitle{

font-size:1.4rem;

margin-top:10px;

color:#38BDF8;

}



.description{

margin-top:20px;

max-width:700px;

margin-left:auto;

margin-right:auto;

}



.buttons{

margin-top:30px;

}



.buttons a{

display:inline-block;

padding:12px 20px;

margin:5px;

border-radius:8px;

text-decoration:none;

background:#38BDF8;

color:#000;

font-weight:bold;

}



section{

margin-top:70px;

}



h2{

margin-bottom:25px;

color:#38BDF8;

}



.card{

background:#1E293B;

padding:25px;

border-radius:12px;

margin-bottom:20px;

}



.card:hover{

transform:translateY(-4px);

transition:.2s;

}



.skills{

display:flex;

flex-wrap:wrap;

gap:10px;

}



.skills span{

background:#1E293B;

padding:10px 15px;

border-radius:999px;

}



#github-projects .repo{

background:#1E293B;

padding:20px;

margin-bottom:15px;

border-radius:12px;

}



#github-projects a{

color:#38BDF8;

}



footer{

margin-top:80px;

text-align:center;

padding-bottom:50px;

opacity:.7;

}
